{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/forums.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/hamburger.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/popup.css' %}">

        <!-- Stops rotation on mobile devices / to be implemented in future -->
        <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- Party js -->
        <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>

    </head>

    <body>
        <div class="computer">
            <div class="nav">
                <div class="navlogo">
                    <img src="{% static 'website/images/logo.png'%}" class="navimg">
                </div>
                <p class="hover-underline-animation">about</p>
                <p class="hover-underline-animation">start</p>
                <p class="hover-underline-animation">leadership</p>
                <p class="hover-underline-animation">portfolio</p>
                <p class="hover-underline-animation">leaderboards</p>
                <div class="accountimgwrapper">
                    <img  src="{% static 'website/images/account.png'%}" class="accountimg">
                </div>
            </div>
        </div>
        
        <div class="accountpopup">

        </div>

        <div style="display: none;">
            {% block content %}
            {% endblock content %}
        </div>
        
    </body>

</html>