{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/forums.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/hamburger.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/popup.css' %}">

        <!-- Stops rotation on mobile devices / to be implemented in future -->
        <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- Party js -->
        <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>

    </head>

    <body>
        <div class="off-computer" id="mobile-menu-button">
            <input type="checkbox" id="checkbox1" class="checkbox1 visuallyHidden">
                <label for="checkbox1">
                    <div class="hamburger hamburger1">
                        <span class="bar bar1"></span>
                        <span class="bar bar2"></span>
                        <span class="bar bar3"></span>
                        <span class="bar bar4"></span>
                    </div>
                </label>
        </div>
        <div class="off-computer" id="mobile-profile-icon">
            <a href="/login"><img src="https://i.ibb.co/jk35XJ6/empty-profile.png" alt="empty-profile" class="profile-img-mobile"></a>
        </div>
        <!-- Mobile Sidebar -->
        <div id="mobile-sidebar" class="off-computer">
            <div id="menu-list">
                <div class="center"><a href="/login"><img src="https://i.ibb.co/jk35XJ6/empty-profile.png" alt="empty-profile" class="profile-img-mobile-sidebar"></a></div>
                <div class="center"><img src="https://i.ibb.co/h9z1qzx/minilogo.png" alt="minilogo" id="navlogo-mobile"></div>
                <a>Home</a>
                <a>Leadership</a>
                <a>Forums</a>
                <a>Leaderboard</a>
                <a href="/login">Start</a>
            </div>
        </div>
        <div id="navbar">
            <a href="/" class="align-left nav-logo-parent"><div class="center"><img src="https://i.ibb.co/h9z1qzx/minilogo.png" alt="minilogo" id="navlogo"></div></a>
            <a href="/" class="off-phones"> HOME </a>
            <a class="off-phones"> LEADERSHIP </a>
            <a href="/forums" class="off-phones"> FORUMS </a>
            <a class="off-phones"> LEADERBOARD </a>
            <a class="off-phones" href="/login"> START </a>
            <a href="/login" class="max-height align-right off-phones"> <img src="https://i.ibb.co/jk35XJ6/empty-profile.png" alt="empty-profile" class="profile-img"> </a>
        </div>
        <!-- Page Content, varies by page -->
        <div id="navbar-margin"></div>
        {% block content %}
        {% endblock content %}
        <div style="height: 50px;"></div>
        <!-- Scripts -->
        <script src="{% static 'website/js/mobile-menu.js' %}"></script>
        <script src="{% static 'website/js/closebutton.js' %}"></script>
        <script src="{% static 'website/js/confetti.js' %}"></script>
        <script src="{% static 'website/js/searchbuttons.js' %}"></script>
    </body>

</html>