{% extends "website/base.html" %}

{% block content %}
{%if None == None%}
<div id="popup">
    <div class="confettilaunchers">
        <img src="https://i.ibb.co/gt4rJ61/confetti.png" alt="confetti">
        <img src="https://i.ibb.co/gt4rJ61/confetti.png" alt="confetti" style="transform: scaleX(-1);">
    </div>
    <div class="closebutton">
        <img src="https://i.ibb.co/vhVCrWd/close.png" alt="close" class="closebutton">
    </div>
    <p> You're Logged In!</p>
    {% if popup == "login"%}
    <p>login</p>
    {% elif popup == "invalidlogin" %}
    <p>invalidlogin</p>
    {% elif popup == "logout"%}
    <p>logout</p>
    {% elif popup == "invalidlogin"%}
    <p>invalidlogout</p>
    {% endif %}
</div>
{% endif %}
<div class="divider"></div>
{% if user.is_authenticated %}
<div class="sectiontitle-mini">Hey There {{ user.first_name }}! </div>
{% else %}
<div class="sectiontitle-mini">Click the Start tab to Log In! </div>
{% endif %}
<div class="sectiontitle">&#8212; Welcome to Crypto Club! &#8212;</div>
<div class="entry">
    <img src="https://i.ibb.co/HtzcfdF/logo.png" alt="logo" class="pageimg">
    <div class="pagesidetext">
        <p class="header">Why we're here!</p>
        <p>
            From a week-1 conversation about the GME and AMC short squeeze outside of
            bcafe, we noticed that there were many finance clubs but they all missed
            an increasingly prevalent aspect of finance: <strong class="highlight-gold">Crypto</strong>.
            <br>
            <br>
            We are also looking to overcome a challenge that comes along with clubs in general:
            <strong class="highlight-gold">accessibility</strong>. Most clubs require everyone
            to meet at the same time at a place on campus. What happens if you aren't on campus?
            What happens if you have a class at the meeting time? Another meeting? Thats part of
            the inspiration for <strong class="highlight-gold">UCLA Crypto</strong>. A club available
            24/7.
            <br>
            <br>
            Who doesn't like a bit of friendly competition? In addition to being able to practice
            trading crypto with dummy money, you can see who's portfolio is the largest on the leaderboard!
            (You can choose to stay anonymous if you prefer)
        </p>
    </div>
</div>
{% endblock %}