{% extends "website/base.html" %}
{% load static %}

{% block content %}
<div id="banner">
    {% if user.is_authenticated %}
    <p>Nice! You're logged in as {{user.first_name}}!</p>
    <div>
        <p>Not You?</p>
        <p>Logout</p>
    </div>
    
    {%else%}
    <p>Looks like you're not logged in yet</p>
    <div>
        <p>Login</p>
    </div>
    {% endif %}
</div>
<h1 class="header">&#8212; Welcome to <span class="accent">UCLA</span> Crypto! &#8212;</h1>
<div class="entry">
    <div id="basegallery">
        <div class="basegalleryimgwrapper">
            <img src="{% static 'website/images/crypto.jpg'%}" class="galleryimg">
            <img src="{% static 'website/images/royce.jpg'%}" class="galleryimg">
            <img src="{% static 'website/images/students.jpg'%}" class="galleryimg">
            <img src="{% static 'website/images/tech.jpg'%}" class="galleryimg">
        </div>
    </div>
    <div class="sidetext">
        <p class="textleft"><span class="accent emphasize">24</span> Hours a Day</p>
        <p class="textright"><span class="accent emphasize">7</span> Days a Week</p>
        <p class="textleft"><span class="accent emphasize">52</span> Weeks a Year</p>
        <p class="textright">A Club on <span class="accent emphasize">Your</span> Time!</p>
        <button class="getstartedbutton">Get Started!</button>
    </div>
</div>


{% endblock %}