{% extends "website/base.html" %}
{% load static %}

{% block content %}
<div id="banner">
    {% if user.is_authenticated %}
    <p>Nice! You're logged in as {{user.first_name}}! Not You?</p>
    <div>
        <p class="logoutbutton">Logout</p>
    </div>
    
    {%else%}
    <p>Looks like you're not logged in yet</p>
    <div>
        <p class="loginbutton">Login</p>
    </div>
    {% endif %}
</div>
<h1 class="header">&#8212; Welcome to <span class="accent">UCLA</span> Crypto! &#8212;</h1>
<div class="entry">
    <div id="basegallery">
        <div class="basegalleryimgwrapper">
            <img src="{% static 'website/images/crypto.jpg'%}" class="galleryimg">
            <img src="{% static 'website/images/royce.jpg'%}" class="galleryimg">
            <img src="{% static 'website/images/students.jpg'%}" class="galleryimg">
            <img src="{% static 'website/images/tech.jpg'%}" class="galleryimg">
        </div>
    </div>
    <div class="sidetext">
        <p class="textheader">A Club on <span class="accent">Your</span> Time!</p>
        <p class="centertext">As UCLA students, we're always busy balancing our extracurriculars and classes.</p>
        <p>Unfortunately, sometimes an in person meeting is just not possible
            that day or at that time. Although we still have some in person meetings, the core of the club is on your screen right now!</p>
        <p>We are currently in the middle of a financial transformation with the emergence of cryptocurruncies and we were shocked to find there was 
            no club at UCLA for crypto education. That's why we're here!
        </p>
        <p>
            Our current mission is to get students comfortable investing in cryptocurruncies and provide some friendly competition along the way.
        </p>
        <p>
            If you have any suggestions or questions please feel free to reach out through the contacts below!
        </p>
        <p>If you're new, click the start tab to learn more about how you can get involved!</p>
    </div>
</div>


{% endblock %}