{% extends "website/base.html" %}

{% block content %}

{% load socialaccount %}
<div class="sectiontitle">&#8212; Click the button below to login! &#8212;</div>
<div class="entry">
   <img src="https://i.ibb.co/mJVFT1C/google-logo-9808.png" alt="logo" class="pageimg">
   <div class="pagesidetext">
       <p class="header">How to Login:</p>
       <p>
           To preserve the integrity of the leaderboard and fair competition, you must sign into google with
           you <strong class="highlight-gold">UCLA</strong> email.
           <br>
           <br>
           We require this to make sure that everyone participating is part of the UCLA community and that each
           person is only able to make <strong class="highlight-gold">account</strong> to play with preventing people from creating multiple accounts
           and ruining the leaderboard and reward system.
           <br>
           <br>
           Go ahead and hit the button below but make sure to login with your <strong class="highlight-gold">ucla.edu</strong> email!
       </p>
       {% if user.is_authenticated%}
      <p class="textsection" id="logout-label">Logged in as: <strong class="highlight-darkblue">{{user.email}}</strong></p>
      <div class="center">
         <div id="logoutbutton">
            <a href="/logout" class="loginlink">Not You? Logout!</a>
         </div>
      </div>
      {% else %}
      <div class="center">
         <div id="loginbutton">
            <a href="{% provider_login_url 'google'%}?next=/loginattempt" class="loginlink">Login with Google</a>
         </div>
      </div>
      {% endif %}
   </div>
</div>



{% endblock %}