{% extends "website/base.html" %}
{% load static %}

{% block content %}
<div id="buysellmenu">
    <div class="menupopup"></div>
    <div class="content"></div>
</div>
<div id="chartmenu">
    <div class="content"></div>
</div>
<div class="portfoliowrapper">
    <div id="assets" class="portfoliobubble"> 
        <p class="title">Assets</p>
        <div class="breaker"></div>
        <p class="note"><span class="red">To sell Asset, Click Icon</span></p>
        <div class="breaker"></div>
        <p class="note"><span class="accent">To see price history, Click name</span></p>
        <div class="breaker"></div>
        <div id="assetcollection" class="ownedassets">
            {% for asset in assets reversed%}
            <!--<canvas id="{{asset.id}}" class="assetchart owned"></canvas>-->
            <div class="asset" id="{{asset.symbol}}">
                <img src="{{asset.img}}" class="asseticon">
                <p class="assetname" id="{{asset.id}}"><span class="bold accent">{{asset.symbol}}</span></p>
                <p class="stockamount"><span class="bold">Coins:</span> {{asset.amt}}</p>
                <p class="value"><span class="bold">Value:</span> <span class="green">{{asset.val}}$</span></p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="buy" class="portfoliobubble">
        <p class="title">Market</p>
        <div class="breaker"></div>
        <div class="wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="Enter search, eg. BTC or Bitcoin">
               <button type="submit" class="searchButton">
                   <i class="fa fa-search"></i>
               </button>
           </div>
       </div>
       <div class="breaker"></div>
       <p class="subtitle">Top Cryptos</p>
       <div class="breaker"></div>
       <p class="note"><span class="green">Click Icons to Buy!</span></p>
       <div class="breaker"></div>
       <p class="note"><span class="accent">To see price history, Click name</span></p>
        <div class="breaker"></div>
        <div id="assetcollection" class="quickbuymenu">
            {% for asset in topCryptos reversed%}
                <!--<canvas id="{{asset.id}}/b" class="assetchart unowned"></canvas>-->
                <div class="asset" id="{{asset.symbol}}">
                    <img src="{{asset.img}}" class="asseticon">
                    <p class="assetname" id="{{asset.id}}"><span class="bold accent">{{asset.symbol}}</span></p>
                    <p class="value"><span class="bold">Cost/Per: </span><span class="green">{{asset.val}}$</span></p>
                </div>
            {% endfor %} 
        </div>
    </div>
    <div id="instructions" class="portfoliobubble">
        <p class="title"><span class="accent">Hello!</span></p>
        <div class="breaker"></div>
        <p class="note"><span class="green">Current Season Start: {{season_start}}</span></p>
        <div class="breaker"></div>
        <div id="instructioncollection">
            <p>Welcome to your portfolio, here you can see your
                cryptocurrency assets as well as cash you have liquid.
            </p>
            <p>
                You can also buy and sell assets here and try to make
                trades in order to increase the total value of your
                portfolio.
            </p>
            <p>
                Remember to have fun while learning and experimenting with
                trading here and try to get to the top of the leaderboards!
            </p>
            <p class="red" style="text-align: center; font-weight: 900;">
                Please note that prices update every refresh, the price used for sells
                and buys will be that at the time the request is processed
            </p>
            <p class="accent" style="text-align: center; font-weight: 900;">
                Additionally, transactions are done with more precision than
                just two decimals. Prices are still shown with 1 cent as the smallest
                increment.
            </p>
        </div>
    </div>
    <div id="summary" class="portfoliobubble">
        <p class="title">Summary</p>
        <div class="breaker"></div>
        <div id="money" class="portfoliobubble">
            <p>Cash Available: <span class="green">{{money}}$</span></p>
        </div>
        <div id="money" class="portfoliobubble">
            <p>Total Asset Value: <span class="green">{{totalAssetValue}}$</span></p>
        </div>
        <div id="money" class="portfoliobubble">
            <p>Portfolio Value: <span class="green">{{portfolioValue}}$</span></p>
        </div>
    </div>
</div>

{% endblock %}