#popup p{
    position: absolute;
    font-size: 2.5em;
    font-style: italic;
    color: var(--ucla-gold);
}

.logoutimgwrapper img{
    max-width: 70%;
}

.confettilaunchers{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10%;
}

.logoutimgwrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10%;
}

.confettilaunchers img{
    width: 30%;
}

.invalidimgwrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10%;
}

.invalidimgwrapper img{
    max-width: 70%;
}